/* --- Index --- */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Amatic SC', cursive;
    background-image: url("./images/background2.png");
    background-size: 40%;
    animation: 60s linear 1s infinite running bgSlide
    /* background-color: #F0F0F0; */
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 2.5em;
}

label {
    font-size: 2.5em;
}

.control-container {
    border: red solid 2px;
    width: 520px;
    padding: 10px;
}

#container {
    border: black solid 2px;
    height: 500px;
    width: 500px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Writing_textInput {
    height: 70px;
    width: 400px
}

/* --- Components --- */

.writing_button {
    height: 40px;
    width: 80px
}

.HostJoin-Container {
   
    height: 100vw;
    width: auto;
    padding: 2em;
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
    text-align: -webkit-center;
}

.HostJoin-HostButton {
    background-color: #3aadda;
    font-family: 'Amatic SC', cursive;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    font-size: 1em;
    max-width: 50vw;
}

.HostJoin-JoinButton {

    background-color: #f7bdbc;
    font-family: 'Amatic SC', cursive;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    font-size: 1em;
    max-width: 50vw;
}

/* --- CreateGame --- */

.CreateGame-Container {
    background-color: #efcf62;
    height: 1000px;
    width: auto;
    padding: 2em;
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
    text-align: -webkit-center;
}

.CreateGame-NewGameButton {
    background-color: #88c083;
    font-family: 'Amatic SC', cursive;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    font-size: 1em;
    max-width: 50vw;
}

.CreateGame-Input {
    background-color: #F0F0F0;
    font-family: 'Amatic SC', cursive;
    border: none;
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
    font-size: 1em;
    max-width: 50vw;
}
#wrapper {
    background-color: rgba(255, 255, 255, 0.418);
    width: 100vw;
    height: 100vh;
}
.button {
    transition: transform 0.2s;
}
.button:hover {
    transform: scale(1.1)
}
input[type=text]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
   height: 7vh;
   transition: transform 0.2s;
    /* box-shadow: none !important; }
    :-webkit-autofill { color: #fff !important; 
    
        border: 0px solid #fff !important;
  border-radius: 0px !important;
  box-sizing: border-box !important; */

  box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.35);
  padding: 12px 20px!important;
 
  box-sizing: border-box!important;
  border: none!important;
  background-color: #ffffff!important;

}
input:focus, textarea:focus, select:focus{
    /* outline: none; */
    transform: scale(1.02)
}
input[type=text]:hover{
    transform: scale(1.02)
}

.inputtitle {
    margin-left: 10%;
    
}
.inputWraper{
    margin-top: 20vh;
}
.inputWraperb{
    margin-top: 5vh;
}
.join-button {
    box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.35);
    background-color: #3aadda;
    font-family: 'Amatic SC', cursive;
    width: 30vw;
    height: 5vh;
    border: none;
    padding: 10px;
    margin: 10px;
  
    font-size: 1.5em;
    max-width: 50vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}
@keyframes bgSlide {
    0%{
        background-position: 0% 0%;
    }
    100% {
        background-position: -66.7% 399%;  /* 67% 399%*/
    }
}
.errorResponse{
    box-shadow: 0px 0px 31px 5px rgba(0,0,0,0.65);
    text-align: center;
    max-width: 500px;
    height: 60px;
    margin-bottom: -60px;
    background-color: white;
    border: solid 2px #f02c2c;
    margin-left: auto;
    margin-right: auto;
}
.nametag {
    text-align: center;
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 1%;
    font-size: 5em;
   float: left;
}
.gametitle {
    font-size: 4em;
    margin-bottom: -0.7em;
   
}
.gameInfoWrap{
    text-align: center;
    margin-bottom: -3%;
}
.gamewrap{

margin-left: auto;
margin-right: auto;
}
.initalinput {

}