.control-container {
    border: red solid 2px;
    width: 520px;
    padding: 10px;
}

#container {
    border: black solid 2px;
    height: 500px;
    width: 500px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.Writing_textInput {
    height: 70px;
    width: 400px
}

.writing_button {
    height: 40px;
    width: 80px
}